html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 992px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* overflow-y: scroll; */
  margin: auto 0;
  padding: 0;
}
@media only screen and (max-width: 992px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

/*Top Navbar and hero section */
.header__nav {
  top: 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 1;
  position: relative;
}
.header__nav__ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav__ul__li {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header__nav__ul__li:hover {
  text-decoration: underline;
  color: #96858f;
}
.header__nav__ul__li a {
  color: #6d7993;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 3px;
  transition: all 0.5s;
  text-transform: uppercase;
  display: inline-block;
}
@media only screen and (max-width: 992px) {
  .header__nav__ul__li a {
    font-size: 0.8rem;
    padding: 20px 0;
  }
}
.header__nav__ul__li a:link {
  color: #6d7993;
}
.header__nav__ul__logo {
  transition: all 0.5s;
  background-color: black;
  overflow: hidden;
  max-width: 0;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
@media only screen and (max-width: 992px) {
  .header__nav__ul__logo {
    display: none;
  }
}
.header__nav__ul__logo a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
  list-style: none;
  letter-spacing: 3px;
  transition: all 0.5s;
  text-transform: uppercase;
  display: inline-block;
}
.header__nav__ul__logo a:hover {
  text-decoration: none;
}

/* Hero Section*/
.heroSection {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-rows: auto;
  overflow: hidden;
}
.heroSection__container {
  text-align: center;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  box-shadow: 0 -2px 3px -3px #b8b8b8, 0 2px 3px -3px;
  z-index: 2;
  padding: 5px;
  grid-column: 3/6;
  grid-row: 2/6;
  max-height: 410px;
}
@media only screen and (max-width: 992px) {
  .heroSection__container {
    grid-column: 2/8;
  }
}
.heroSection__container--title {
  margin: 0;
}
@media only screen and (max-width: 992px) {
  .heroSection__container--title {
    font-size: 1.5rem;
  }
}
.heroSection__container--para {
  width: 85%;
}
.heroSection__container--btn {
  margin: 20px 10px 0 0;
  padding: 10px;
  font-weight: 400;
  background-color: #96858f;
  color: #ffff;
  border: transparent;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 992px) {
  .heroSection__container--btn {
    margin: 10px;
    font-size: 0.8rem;
  }
}
.heroSection__container--btn--contact {
  background-color: #ffff;
  color: #393939;
  /* border: 1px solid #96858F; */
}
.heroSection__container--btn--contact:hover {
  background-color: #96858f;
  color: #ffff;
}
.heroSection__container--btn--view:hover {
  background-color: #ffff;
  color: #393939;
}
.heroSection__img--desk {
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 440px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  /*media query or vh,vw*/
  grid-column: 1/4;
  grid-row: 4/6;
}
@media only screen and (max-width: 992px) {
  .heroSection__img--desk {
    height: 280px;
  }
}
.heroSection__img--skyline {
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  grid-area: skyline;
  z-index: 1;
  grid-column: 5/9;
  grid-row: 1/4;
  height: 420px;
}
@media only screen and (max-width: 992px) {
  .heroSection__img--skyline {
    height: 380px;
  }
}

/*About Section*/
.about {
  height: 100vh;
  background-image: url("../images/skyFoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
}
@media only screen and (max-width: 992px) {
  .about {
    font-size: 0.9rem;
    height: 80vh;
  }
}
.about__text {
  padding: 150px;
  font-weight: 400;
}
@media only screen and (max-width: 992px) {
  .about__text {
    padding: 15px;
  }
}
.about__text__words {
  margin: 0;
}

/* pinciples */
.principle__container {
  margin-bottom: 75px;
}
@media only screen and (max-width: 992px) {
  .principle__container {
    margin-bottom: 10px;
    padding: 1px;
  }
}

.principle {
  padding: 50px;
  background-color: #ccddeb;
}
@media only screen and (max-width: 992px) {
  .principle {
    padding: 8px;
    width: 100%;
  }
}
.principle__container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 70vh; */
}
.principle__title {
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 992px) {
  .principle__title {
    font-size: 0.85rem;
  }
}
.principle__section {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding: 5px 25px;
}
@media only screen and (max-width: 992px) {
  .principle__section {
    font-size: 0.8rem;
    padding: 5px;
    width: 120px;
    height: 250px;
  }
}
.principle__section__elements {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .principle__section__elements img {
    width: 40px;
    height: 40px;
  }
  .principle__section__elements--title {
    text-align: center;
  }
}
/*Portfolio Section*/
.portfolio {
  padding: 50px 0;
}

.portfolio__title {
  padding: 50px 150px 0 150px;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 992px) {
  .portfolio__title {
    padding: 20px;
    font-size: 0.85rem;
  }
}

.portfolio__project {
  display: flex;
  padding: 50px 150px;
  margin-bottom: 130px;
}
@media only screen and (max-width: 992px) {
  .portfolio__project {
    padding: 10px 0;
    display: block;
    margin-bottom: 50px;
  }
}
.portfolio__project--reverse {
  display: flex;
  padding: 50px 150px;
  margin-bottom: 130px;
}
@media only screen and (max-width: 992px) {
  .portfolio__project--reverse {
    flex-direction: column-reverse;
    padding: 10px 0;
    margin-bottom: 50px;
  }
}
.portfolio__project--img {
  width: 680px;
  height: 420px;
  opacity: 0.3;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .portfolio__project--img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
.portfolio__project--img:hover {
  opacity: 1;
}
.portfolio__project--img--icons {
  width: 130px;
  padding: 15px;
}
@media only screen and (max-width: 992px) {
  .portfolio__project--img--icons {
    width: 60px;
    padding: 10px 0;
  }
}
.portfolio__project--text {
  background-color: #91c4f1;
  width: 760px;
}
@media only screen and (max-width: 992px) {
  .portfolio__project--text {
    width: 100%;
    margin: 0;
    padding-top: 0;
  }
}
.portfolio__project--text--title {
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .portfolio__project--text--title {
    font-size: 1rem;
    padding-top: 10px;
    margin-top: 0;
  }
}
.portfolio__project--text--containerIcons {
  z-index: 1;
  text-align: center;
  background-color: #393939;
}
.portfolio__project--text--words {
  z-index: 2;
  font: 1.5rem;
  line-height: 2;
  text-align: center;
  padding: 10px;
}
@media only screen and (max-width: 992px) {
  .portfolio__project--text--words {
    font-size: 0.75rem;
    padding-top: 5px;
  }
}
.portfolio__project--text--words--img {
  padding: 10px 0;
}
@media only screen and (max-width: 992px) {
  .portfolio__project--text--words--img {
    padding: 5px 0;
  }
}

/*CV Section*/
.cv {
  background-color: white;
  padding: 75px 50px;
  text-align: center;
  background-color: #ccddeb;
}
@media only screen and (max-width: 992px) {
  .cv {
    padding: 20px;
    font-size: 0.7rem;
  }
}
.cv__contacts__buttons__btn {
  margin: 20px 10px 0 0;
  padding: 10px;
  font-weight: 400;
  background-color: #96858f;
  color: #ffff;
  border: transparent;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 992px) {
  .cv__contacts__buttons__btn {
    font-size: 0.8rem;
  }
}
.cv__contacts__buttons__btn--resume {
  background-color: #ffff;
  color: #393939;
}
.cv__contacts__buttons__btn--resume:hover {
  background-color: #96858f;
  color: #ffff;
}
.cv__contacts__buttons__btn--contact:hover {
  background-color: #ffff;
  color: #393939;
}

/*Contact Section*/
.footer__sign {
  padding: 40px 0 20px 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
}
@media only screen and (max-width: 992px) {
  .footer__sign {
    font-size: 0.8rem;
  }
}

.fixed-nav .header__nav__ul__logo {
  max-width: 100px;
  padding: 5px;
}

.fixed-nav .header__nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #ccddeb, #eef2f3);
  z-index: 2;
}
@media only screen and (max-width: 992px) {
  .fixed-nav .header__nav {
    display: none;
  }
}

.fixed-nav .heroSection__container {
  z-index: 0;
}

.fixed-nav .heroSection__img--desk {
  z-index: -1;
}

.fixed-nav .heroSection__img--skyline {
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
