@use "devices" as devices;

html {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;

    @include devices.tablet {
        max-width: 100%;
        overflow-x: hidden;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* overflow-y: scroll; */
    margin: auto 0;
    padding: 0;
    // background-color: #f1f1f1;

    @include devices.tablet {
        max-width: 100%;
        overflow-x: hidden;
    }
}

/*Top Navbar and hero section */
.header {
    &__nav {
        top: 0;
        width: 100%;
        transition: all 0.5s;
        z-index: 1;
        position: relative;

        &__ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;

            &__li {
                flex: 1;
                text-align: center;
                align-items: center;
                justify-content: center;
                display: flex;

                &:hover {
                    text-decoration: underline;
                    color: #96858f;
                }

                & a {
                    color: #6d7993;
                    font-weight: 300;
                    font-size: 20px;
                    text-decoration: none;
                    letter-spacing: 3px;
                    transition: all 0.5s;
                    text-transform: uppercase;
                    display: inline-block;

                    @include devices.tablet {
                        font-size: 0.8rem;
                        padding: 20px 0;
                    }
                }

                & a:link {
                    color: #6d7993;
                }
            }

            &__logo {
                transition: all 0.5s;
                background-color: black;
                overflow: hidden;
                max-width: 0;
                flex: 1;
                text-align: center;
                align-items: center;
                justify-content: center;
                display: flex;

                @include devices.tablet {
                    display: none;
                }

                & a {
                    color: white;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 25px;
                    text-decoration: none;
                    list-style: none;
                    letter-spacing: 3px;
                    transition: all 0.5s;
                    text-transform: uppercase;
                    display: inline-block;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/* Hero Section*/
.heroSection {
    // display: flex;
    // border: purple 1px solid;
    // flex-direction: row;
    height: 100vh;
    display: grid;
    // grid-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: auto;
    overflow: hidden;

    &__container {
        text-align: center;
        line-height: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffff;
        box-shadow: 0 -2px 3px -3px rgb(184, 184, 184), 0 2px 3px -3px;
        z-index: 2;
        // border-radius: 5px;
        padding: 5px;
        // border: 0.4px rgb(223, 218, 218) inset;
        grid-column: 3 / 6;
        grid-row: 2 / 6;
        max-height: 410px;

        @include devices.tablet {
            grid-column: 2 / 8;
            grid-row: 2 / 5;
            padding: 0;
        }

        &--title {
            // line-height: 56px;
            margin: 0;

            @include devices.tablet {
                font-size: 1.2rem;
            }
        }

        &--para {
            width: 85%;

            @include devices.tablet {
                font-size: 0.85rem;
            }
        }

        &--btn {
            margin: 20px 10px 0 0;
            padding: 10px;
            font-weight: 400;
            background-color: #96858f;
            color: #ffff;
            border: transparent;
            box-shadow: 0 2px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            border-radius: 5px;
            font-size: 1rem;
            text-transform: uppercase;

            @include devices.tablet {
                margin: 10px;
                font-size: 0.7rem;
            }

            &--contact {
                background-color: #ffff;
                color: #393939;
                /* border: 1px solid #96858F; */

                &:hover {
                    background-color: #96858f;
                    color: #ffff;
                }
            }

            &--view:hover {
                background-color: #ffff;
                color: #393939;
            }
        }
    }

    &__img {
        // width: 500px;
        // height: 350px;

        &--desk {
            box-shadow: 0 2px rgba(0, 0, 0, 0.1);
            // border-radius: 5px;
            z-index: 1;
            // width: 500px;
            height: 440px;
            // display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            /*media query or vh,vw*/
            grid-column: 1 / 4;
            grid-row: 4 / 6;

            @include devices.tablet {
                height: 280px;
                width: 260px;
            }
        }

        &--skyline {
            box-shadow: 0 2px rgba(0, 0, 0, 0.1);
            // border-radius: 5px;
            grid-area: skyline;
            z-index: 1;
            grid-column: 5 / 9;
            grid-row: 1 / 4;
            // width: 850px;
            height: 420px;

            @include devices.tablet {
                height: 380px;
            }
        }
    }
}

/*About Section*/
.about {
    height: 100vh;
    background-image: url("../images/skyFoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;

    @include devices.tablet {
        font-size: 0.9rem;
        height: 80vh;
    }

    &__text {
        padding: 150px;
        font-weight: 400;

        @include devices.tablet {
            padding: 15px;
        }

        &__words {
            margin: 0;
        }
    }
}

/* pinciples */
.principle__firstContainer {
    margin-bottom: 75px;

    @include devices.tablet {
        margin-bottom: 30px;
    }
}

.principle {
    padding: 50px;
    background-color: #ccddeb;

    @include devices.tablet {
        padding: 2px;
        width: 100%;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 70vh; */

        @include devices.tablet {
            margin-bottom: 25px;
            width: 100%;
        }
    }

    &__title {
        padding-bottom: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        @include devices.tablet {
            font-size: 0.85rem;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        padding: 5px 25px;

        @include devices.tablet {
            font-size: 0.8rem;
            padding: 0;
            width: 120px;
            height: 250px;
        }

        &__elements {
            display: flex;
            justify-content: center;
            align-items: center;

            &--img {
                @include devices.tablet {
                    & img {
                        width: 40px;
                        height: 40px;
                    }
                }

                &--title {
                    text-align: center;
                }
            }
        }

        &--words {
            @include devices.tablet {
                margin: 0;
            }
        }
    }
}

/*Portfolio Section*/
.portfolio {
    padding: 50px 0;
}
.portfolio__title {
    padding: 50px 150px 0 150px;
    text-align: center;
    text-transform: uppercase;

    @include devices.tablet {
        padding: 20px;
        font-size: 0.85rem;
    }
}

.portfolio__project {
    display: flex;
    padding: 50px 150px;
    margin-bottom: 130px;

    @include devices.tablet {
        padding: 10px 0;
        display: block;
        margin-bottom: 50px;
    }

    &--reverse {
        display: flex;
        padding: 50px 150px;
        margin-bottom: 130px;

        @include devices.tablet {
            flex-direction: column-reverse;
            padding: 10px 0;
            margin-bottom: 50px;
        }
    }

    &__imgGap {
        width: 780px;
        height: 420px;

        @include devices.tablet {
            width: 375px;
            height: 211px;
        }
    }

    &--img {
        width: 100%;
        height: 100%;
        opacity: 0.3;
        cursor: pointer;

        @include devices.tablet {
            margin: 0;
            opacity: 1;
        }

        &:hover {
            opacity: 1;
        }

        &--icons {
            width: 130px;
            padding: 15px;

            @include devices.tablet {
                width: 60px;
                padding: 10px 0;
            }
        }
    }

    &--text {
        background-color: rgb(145, 196, 241);
        // position: absolute;
        // top: 140px;
        // left: 680px;
        width: 760px;

        @include devices.tablet {
            width: 100%;
            margin: 0;
            padding-top: 0;
        }

        &--title {
            text-align: center;

            @include devices.tablet {
                font-size: 1rem;
                padding-top: 10px;
                margin-top: 0;
            }
        }

        &--containerIcons {
            z-index: 1;
            text-align: center;
            background-color: #393939;
        }

        &--words {
            z-index: 2;
            font: 1.5rem;
            line-height: 2;
            text-align: center;
            padding: 10px;

            @include devices.tablet {
                font-size: 0.75rem;
                padding-top: 5px;
            }

            &--img {
                padding: 10px 0;

                @include devices.tablet {
                    padding: 5px 0;
                }
            }
        }
    }
}

/*CV Section*/
.cv {
    background-color: white;
    padding: 75px 50px;
    text-align: center;
    background-color: #ccddeb;

    @include devices.tablet {
        padding: 20px;
        font-size: 0.7rem;
    }

    &__contacts__buttons {
        &__btn {
            margin: 20px 10px 0 0;
            padding: 10px;
            font-weight: 400;
            background-color: #96858f;
            color: #ffff;
            border: transparent;
            box-shadow: 0 2px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            border-radius: 5px;
            font-size: 1.2rem;
            text-transform: uppercase;

            @include devices.tablet {
                font-size: 0.8rem;
            }

            &--resume {
                background-color: #ffff;
                color: #393939;

                &:hover {
                    background-color: #96858f;
                    color: #ffff;
                }
            }

            &--contact:hover {
                background-color: #ffff;
                color: #393939;
            }
        }
    }
}

/*Contact Section*/
.footer {
    &__sign {
        padding: 40px 0 20px 0;
        text-align: center;
        font-size: 1rem;
        font-weight: 200;

        @include devices.tablet {
            font-size: 0.8rem;
        }
    }
}

.fixed-nav .header__nav__ul__logo {
    max-width: 100px;
    padding: 5px;
}

.fixed-nav .header__nav {
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ccddeb, #eef2f3);
    z-index: 2;

    @include devices.tablet {
        display: none;
    }
}

.fixed-nav .heroSection__container {
    z-index: 0;
}

.fixed-nav .heroSection__img--desk {
    z-index: -1;
}

.fixed-nav .heroSection__img--skyline {
    z-index: -1;
}
