.item {
    text-align: center;
    padding: 150px 70px;
    background-color: aliceblue;
}

.words {
    font-size: 1.5rem;
    line-height: 2.5;
}

.img {
    padding: 100px 50px;
}

.icon {
    width: 100px;
    padding: 25px;
    background-color: black;
    font-size: q.5rem;
}
